<div id="<%= dom_id club_house %>">
  <p>
    <strong>Club name:</strong>
    <%= club_house.club_name %>
  </p>

  <p>
    <strong>Club description:</strong>
    <%= club_house.club_description %>
  </p>

  <p>
    <strong>String:</strong>
    <%= club_house.string %>
  </p>

  <p>
    <strong>Club owner:</strong>
    <%= club_house.club_owner %>
  </p>

</div>
