<p style="color: green"><%= notice %></p>

<%= render @club_house %>

<div>
  <%= link_to "Edit this club house", edit_club_house_path(@club_house) %> |
  <%= link_to "Back to club houses", club_houses_path %>

  <%= button_to "Destroy this club house", @club_house, method: :delete %>
</div>
